@charset "utf-8";
/*
Theme Name: Finest Golf Poperties
Description: Finest Golf Poperties WP Theme
Author: Remiel Evangelio
*/
html,body{height:100%;}
html,html a{-webkit-font-smoothing: antialiased !important; text-shadow: 1px 1px 1px rgba(0,0,0,0.004) !important;}
body{font-family: 'Lato', sans-serif;background:#fff;}

a,a:hover{color:#3f7536;text-decoration:none;}

/* top section */
#top-section{}
	#top-section .logo-col{height:90px;background:url(img/gp-logo.png) no-repeat;text-indent:-9999px;padding:0;}
		#top-section .logo-col h1{}
			#top-section .logo-col h1 a, 	#top-section .logo-col h1 a:hover{display:block;height:90px;position:relative;top:-20px;}
	#top-section .spacer-col{}
	#top-section .log-col{padding:0;}
		#top-section .siginbt,#top-section .scorecardbt{text-transform:uppercase;font-size:12px;}
			#top-section .siginbt{padding:10px;color:#3f7536;text-align:center;}
			#top-section .siginbt a,#top-section .siginbt a:hover{color:#3f7536;text-decoration:none;}
			
			#top-section .scorecardbt{background:#3f7536;padding:10px;text-align:center;}
			#top-section .scorecardbt:hover{background:#306427;padding:10px;text-align:center;}
			#top-section .scorecardbt a,#top-section .scorecardbt a:hover{color:#fff;text-decoration:none;}

			#menu-main-menu .sub-menu li ul{margin-left: 100%; top:0;}
			
		/* site menu */
		#top-section .site-menu{background:#3f7536;color:#fff;position:relative;z-index:999;}
			#top-section select{width:100%;padding:5px 0 5px 0;margin:0 0 10px 0;}
		/* banner */
		#top-section .banner{position:relative;z-index:998;border-bottom:3px solid #3b6e33;}
		/* tagline */
		#top-section .tagline{min-height:62px;color:#464646;text-align:center;padding:0;background:url(img/tagline-bg.png) repeat-x;}
			#top-section .tagline h2{font-size:22px;font-weight:300;font-family: 'Lato', sans-serif;}
			
			
/* Main Content */

#main-contents{font-size:14px;line-height:18px;}
	#main-contents .inner-content{border-left:1px solid #bcbcbc;border-right:1px solid #bcbcbc;}
		#main-contents .contents-line{border-bottom:1px solid #bcbcbc;}
			#main-contents .contents-line-inner{padding:0 35px 20px 35px;}
	#main-contents .contents-line-inner h2.heading{font-size:47px;font-weight:300;font-family: 'Lato', sans-serif;}
	

/* Pages */

#main-contents h2.page-title{font-size: 24px;
font-weight: 400;
font-family: 'Lato', sans-serif;}

#page-content{border-bottom: 1px solid #bcbcbc;}
	/*#page-content .left-col,#page-content .right-col{padding:0;}*/
		
		#page-content .mid-col{min-height:860px;}
	
	/* search results */
	#page-content .search-results{padding:66px 0 0 0;}
		#page-content .search-results h2{font-family: 'Montserrat', sans-serif;font-size:18px;color:#3f7536;}
		#page-content .search-results h3{font-family: 'Montserrat', sans-serif;font-size:15px;color:#1d1d1d;padding:5px 0 5px 0;}
		#page-content .sr-headline{border-top:1px solid #bcbcbc;border-bottom:1px solid #bcbcbc;text-align:center;}
			#page-content .sub-head{font-size:15px;font-weight:300;color:#747474;padding:0 0 10px 0;}
				#search-results-box{padding:0 0 0 0;height:735px;width:100%;}
				#search-results-box a.sr-edit{color:#3f7536;font-style:italic;font-size:12px;padding:0 20px 0 0;}
					#search-results-box a.sr-save{color:#747474;font-style:italic;font-size:12px;padding:0;}
						#search-results-box .search-item{text-align:center;padding: 10px 5px 10px 5px;border-bottom: 1px dotted #bcbcbc;}
							#search-results-box .search-item img{margin:0 auto;width:100%;}
							#search-results-box .search-item:hover{background:#e8e8e8;}
								#search-results-box .search-item:hover h4{color:#3f7536 !important;}
									#search-results-box .search-item h4 a{color:#464646;text-decoration:none;}
									#search-results-box .search-item h4 a:hover{color:#3f7536;text-decoration:none;}
						#search-results-box .search-item h4{font-family: 'Montserrat', sans-serif;color:#464646;font-size:16px;}
						#search-results-box .sr-desc{font-family: 'Lato', sans-serif;font-size:12px;color:#464646;line-height: 12px;margin: 0 auto;}
						
							#search-results-box .orderby{margin:10px auto 10px auto;}
								#search-results-box .selectbox{}
								
									#search-results-box .search-item-b{padding: 10px 5px 10px 5px;border-bottom: 1px dotted #bcbcbc;}
									#search-results-box .search-item-b img {float: left; width: 40%; height: auto;}
									#search-results-box .search-item-b:hover{background:#e8e8e8; cursor: pointer;}
									#search-results-box .s-property-thumb{float:left;width:40%;}
									#search-results-box .s-property-title{font-size:13px;font-weight:bold;}
										#search-results-box .s-property-title:hover{color:#3f7536;}
										#search-results-box .s-property-title a:hover{font-family: 'Montserrat', sans-serif;color:#464646;}
										#search-results-box .s-property-desc{float: right;width: 50%;font-size: 12px;line-height: 4px;}
										#search-results-box .s-property-desc p{line-height: 11px; margin: 0 0 5px;}
												#search-results-box .s-property-desc a, #search-results-box .s-property-desc a:hover{color:#000;text-decoration:underline;}


						
				/* page links */
				
				#page-links{padding:66px 0 0 0;}
					#page-links ul{margin: 0 auto;padding: 0;}
						#page-links ul li{float:left;background:url(img/tab-bg.png) no-repeat #fff;list-style-type:none;padding: 20px 0 25px 0;}
								#page-links ul li:first-child{background:#fff;padding: 20px 0 0 0;}
							#page-links ul li a:hover{color:#2e5a1c;text-decoration:none;background:url(img/arrow.png) center bottom no-repeat;}
							#page-links ul li a{color:#1d1d1d;text-decoration:none;padding: 20px 30px 10px 30px;}
								#page-links ul li a.selected{color:#2e5a1c;text-decoration:none;background:url(img/arrow.png) center bottom no-repeat;}
							
									#page-links select{width:100%;}
				
								
				/* main */
				#mid-col-main{ padding-bottom: 30px;}
					#mid-col-main .featured-image{}
						#mid-col-main .featured-image img{margin:5px 0 5px 0;-moz-box-shadow: 0px 0px 10px 1px #ccc;
-webkit-box-shadow: 0px 0px 10px 1px #ccc;
box-shadow: 0px 0px 10px 1px #ccc;}
							#mid-col-main .text-content{text-align:left;width:100%;margin:0 auto;}
							#mid-col-main h2.community-name{font-size:35px;color:#3f7536;font-family: 'Montserrat', sans-serif;text-align:left;}
							#mid-col-main h3.community-address{font-size:15px;color:#1d1d1d;font-family: 'Montserrat', sans-serif;text-align:left;margin:0;padding:0 0 24px 0;}
								
								#mid-col-main .description-tbl{border-top:1px dotted #7f7f7f;border-bottom:1px dotted #7f7f7f;padding:28px 0 28px 0;}
								#mid-col-main .description-tbl img{-moz-box-shadow: 0px 0px 0px 0px #ccc;
-webkit-box-shadow: 0px 0px 0px 0px #ccc;
box-shadow: 0px 0px 0px 0px #ccc;}
										#mid-col-main p{color:#464646;font-size:14px;line-height:21px;margin:22px 0 0 0;}
											#mid-col-main .lit-info{float:left;}
										
										/* for property pages */
										#mid-col-main .featured-content{-moz-box-shadow: 0px 0px 0px 0px #ccc;-webkit-box-shadow: 0px 0px 0px 0px #ccc;box-shadow: 0px 0px 0px 0px #ccc;padding: 0;}
										
											#mid-col-main .s-property-img-big,#mid-col-main .s-property-map{width:50%;float:left;}
												#mid-col-main .item-price{color:#3f7536;font-size:20px;font-weight:300;font-style:italic}
												
													#mid-col-main .property-detail-box{}
														#mid-col-main .sp-col-1{width:50%;float:left;word-wrap:break;}
															#mid-col-main .sp-col-2{width:50%;float:left;border-left: 1px dotted #7f7f7f;word-wrap:break;
padding: 0 0 0 10px;}
																#mid-col-main .lefty{float:left;width:50%;font-style:italic;font-weight:300;color:#747474;}
																	#mid-col-main .righty{float:right;width:50%;font-weight:bold;}
											#mid-col-main .propery-full-desc{border-top:1px dotted #7f7f7f;margin:10px auto 0 auto;}
												#mid-col-main .propery-full-desc h3{font-size:15px;font-family: 'Montserrat', sans-serif;padding:10px 0 10px 0;}
												
																	#mid-col-main .indv-thumbnails{float: left;
width: 20%;overflow:hidden;}								
#mid-col-main .indv-thumbnails img,#mid-col-main .image-box img{margin:0;}
	#mid-col-main .image-thumbnails{padding:0 0 80px 0;}
	
	/* agent page */
	#mid-col-main .profile-box{margin:0 auto;}
	#mid-col-main .agentpic, #mid-col-main  .apic img{float:left;margin:24px 24px 0 0 !important;}
	#mid-col-main .apic { float: left;}
	#mid-col-main .apic img{
		width: 175px;
		height: auto;
	}
		#mid-col-main .agent-page,#mid-col-main .agent-page a,#mid-col-main .agent-page a:hover{color:#000 !important;}
			#mid-col-main .agent-page a{text-decoration:underline !important;}
		#mid-col-main .profile-description{float:left;text-align:left;line-height: 15px;width: 60%;font-size: 13px;}
			#mid-col-main .profile-description a, #mid-col-main .profile-description a:hover{color:#000;text-decoration:underline;}
			#mid-col-main h3.agent-name{font-size:20px;color:#3f7536;font-family: 'Lato', sans-serif;margin: 20px 0 0 0;}
				#mid-col-main .special-exp{color:#747474;}
				#mid-col-main .biography-box{text-align:justify;}
					#mid-col-main h4.bio{color:#1d1d1d;font-size:15px;font-family: 'Montserrat', sans-serif;margin:20px 0 0 0;}
										
										/* right */
										
										#sidebar-r{padding:66px 0 0 0;}
											#sidebar-r a, #sidebar-r a:hover{color:#464646;text-decoration:none;}
											
											#sidebar-r .item-box{width: 64%;
margin: 0 auto;
border-bottom: 1px dotted #1d1d1d;padding:0 0 5px 0;line-height:16px;color:#464646;font-family: 'Lato', sans-serif;}
												#sidebar-r .sidebar-r-ico{float: left;position: relative;
top: 10px;}
													#sidebar-r .sidebar-r-text{width:70%;
float: left;padding:15px 0 15px 15px;font-size: 13px;}
														#sidebar-r .scorecard{height:50px;background:url(img/sidebar-r-scorecard-bg.png) repeat-x;border:1px solid #b9b9b9;color:#3f7536;padding:0;text-align:center;width:65%;margin:10px auto;}
															#sidebar-r .scorecard-content{background:url(img/star-bg-scorecard.png) no-repeat;margin:0 auto;height:50px;padding: 16px 0 0;display: block;}
															
																		#sidebar-r .scorecard-content a,#sidebar-r .scorecard-content a:hover{color:#3f7536;text-decoration:none;}
																				
																				#sidebar-r .scorecard-content a,#sidebar-r .scorecard-content a:hover{display:block;color:#3f7536;text-decoration:none;height: 50px;}
	
	
	
			/* more links */
			
			#sidebar-r .more-links{width:65%;margin:0 auto;}
				#sidebar-r .ml-icon{margin: 0 0 0 25px;}
					#sidebar-r .ml-iconf{margin: 0;}
				
				/* experts */
				
				#experts-box{margin:10px 0;padding:20px 0 0 0;}
					#experts-box .item-expert{width:65%;margin:0 auto 5px auto;}
				
				#experts-box .title-box{border-top: 1px solid #bcbcbc;border-bottom: 1px solid #bcbcbc;margin:0 0 10px 0;}
				
					#experts-box h2{font-family: 'Montserrat', sans-serif;font-size: 18px;color: #3f7536;margin: 10px auto;padding: 10px 0 10px;width:50%;margin:0 auto;text-align:center;}
					
					#experts-box .expert-img{float:left;-moz-box-shadow: 0px 0px 10px 1px #ccc;-webkit-box-shadow: 0px 0px 10px 1px #ccc;box-shadow: 0px 0px 10px 1px #ccc;margin: 5px 0 2px 6px;}
					#experts-box .expert-desc{float:left;font-style:italic;color:#000;font-size:12px;padding:0 0 0 5px;}
						#experts-box .expert-desc h3{font-size:13px;font-weight:bold;color:#000;padding: 5px 0 7px 0;font-family: 'Montserrat', sans-serif;margin:0;font-style:normal;}
						
							/* email agent */
							#sidebar-r .e-agentbt{background:url(img/email-bt.png) no-repeat;height:54px;width:167px;color:#fff;padding: 17px 0 10px 36px;margin: 10px auto;text-align: center;}
								#sidebar-r .e-agentbt a,#sidebar-r .e-agentbt a:hover{color:#fff;text-decoration:none;font-weight:600;display:block;height:54px;text-shadow: 1px 0px 0px #000 !important;text-transform:uppercase;}
					
				
	/* Footer */
	#footer{padding:40px 0 40px 0;line-height:18px;font-size:14px;font-family: 'Lato', sans-serif; clear: both;}
		#footer .social-networks img{margin:2px 5px 0 0;}
			#footer ul{font-weight:bold;margin: 0;padding: 0;}
				#footer ul li{float:left;padding:0;list-style-type:none;}
					#footer ul li:before{content: "|";padding:0 5px 0 5px;}
						#footer ul li:first-child:before{content: "";padding:0;}
								#footer ul ul{display:none;}
							#footer a, #footer a:hover{color:#464646;text-decoration:none;}
	

	/* Modal */
	h4.mypopuptitle{color:#3f7536;font-size:34px;font-family: 'Lato', sans-serif;font-weight:300;width:80%;margin:0 auto;}
		h5.modal-sub-title{color:#464646;font-size:14px;font-family: 'Lato', sans-serif;font-weight:300;width:80%;margin:0 auto;}
		.boxtype{border-radius: 0px;border:1px solid #000;width: 85%;margin: 0 auto;-webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.5);
box-shadow: 0 0px 0px rgba(0, 0, 0, 0.5);}
		 .modal-backdrop{background:none;}
		 .modal-open {overflow: auto; }
	 
	/* Contact Pop up */
	#contact-popup{width:80%;margin:0 auto;color:#464646;}
		#contact-popup .left-col{float:left;width:30%;line-height:32px;}
		#contact-popup .right-col{float:right;width:70%;border-left:1px solid #b9b9b9;padding:5px 0 5px 20px;line-height:35px;}
		 #contact-popup .right-col select{background:url(img/select-bg.png);padding: 6px 0 6px 0;width:253px;text-align:center;}
			#contact-popup .right-col input[type="text"]{border:1px solid #3f7536;}
				#contact-popup textarea{height:105px;border:1px solid #3f7536;width:253px;}
					#contact-popup .s-des{float:right;float: right;text-shadow: 0px 0px 0px #ccc;margin: 0 8px 0;}
						#contact-popup .s-des:hover{color:#fff;text-shadow: 0px 0px 0px #eee;}
						
	/* scorecard pop up */
	
		#scorecardbox .myscorecard{width:100% !important;margin: 0 auto;-webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.5);
box-shadow: 0 0px 0px rgba(0, 0, 0, 0.5);-webkit-border-radius: 0 !important;-moz-border-radius: 0 !important;border-radius:0 !important;border:1px solid #000;overflow-y:scroll;overflow-x:hidden;height:864px;}
			#scorecardbox .scoreboard-heading{height:57px;background:url(img/scorecard-heading-bg.jpg) repeat-x;margin: 25px 0 0 0;color:#fff;}
				#scorecardbox .l-col{float:left;text-transform:uppercase;font-weight: bold;font-size: 35px;text-shadow: 1px 0px 0px #333;padding:0 0 0 13px;}
					#scorecardbox img.myscrollcard-img{padding:0 0 5px 0;}
				#scorecardbox .r-col{float:right;padding: 14px 16px 0 0;}
					#scorecardbox .r-col1{float:left;margin:0 35px 0 0;}
						#scorecardbox .r-col2{float:right;}
							#scorecardbox .r-col1 a,#scorecardbox .r-col2 a{color:#fff;text-decoration:none;}
	
	#scorecardbox .modal-body{padding:20px 0 0 0;}
	#scorecardbox .pop-up-l{float:left;width:22%;font-family: 'Lato', sans-serif;}
		#scorecardbox h2.user-greetings{font-size:30px;color:#3f7536;font-family: 'Montserrat', sans-serif;}
		#scorecardbox h3.subline{font-size:18px;font-weight:bold;color:#000;font-family: 'Lato', sans-serif;line-height: 24px;}
	#scorecardbox .pop-up-r{float:right;border-left: 1px solid #bcbcbc;min-height: 800px;width: 77%;}
		#scorecardbox .recent-updates ul,#scorecardbox .saved-searches ul{font-size:14px;color:#000;list-style-type:none;padding:0;}
			#scorecardbox .recent-updates ul li,#scorecardbox .saved-searches ul li{line-height:24px;}
				#scorecardbox .recent-updates ul li a, #scorecardbox .recent-updates ul li a:hover,#scorecardbox .saved-searches ul li a,#scorecardbox .saved-searches ul{color:#000;text-decoration:none;}
					#scorecardbox ul li.newsearch-l a{color:#3f7536;text-decoration:underline;}
					
						/* per section in right part */
						
						#scorecardbox .per-section{padding:0 0 0 32px;}
							#scorecardbox .short-detail{width:100%;text-align:right;}
								#scorecardbox .big-logo,#scorecardbox .scrollable-content{float:left;}
									#scorecardbox .section-container{border: 1px solid #bcbcbc;}
									#scorecardbox .dest-item-box,#scorecardbox .comm-item-box,#scorecardbox .prop-item-box,#scorecardbox .agt-item-box,#scorecardbox .vid-item-box{text-align:center;float: left;}
											#scorecardbox .big-logo{width:125px;}
												#scorecardbox .scrollable-content{height:125px;padding: 5px 0 0 0;overflow: hidden;border-left: 1px solid #bcbcbc;}																							#scorecardbox .scrollables{width:999%;}
													#scorecardbox .dest-desc,#scorecardbox .comm-desc,#scorecardbox .vid-desc{font-family: 'Montserrat', sans-serif;font-size:12px;font-weight:300;padding:2px 0 0 0;}
														#scorecardbox .dest-desc a,#scorecardbox .comm-desc a,#scorecardbox .vid-item-box a{color:#000;text-decoration:none; padding: 0px 8px; display: block;}
														#scorecardbox .dest-desc a:hover,#scorecardbox .comm-desc a:hover,#scorecardbox .vid-desc a:hover{color:#de5205;text-decoration:none;}
													#scorecardbox .dest-img,#scorecardbox .comm-img,#scorecardbox .vid-content{border-right:1px dotted #7f7f7f;padding:0 8px 0 8px;}
														#scorecardbox .prop-img,#scorecardbox .agt-img{padding:0 5px 0 10px;float:left;}
														#scorecardbox .prop-desc{float:left;text-align:left;border-right:1px dotted #7f7f7f;line-height:16px;padding:0 10px 0 0;}
															#scorecardbox .prop-line1,#scorecardbox .prop-line2{font-size:14px;}
															#scorecardbox .prop-line3{font-size:15px;font-weight:600;}
															#scorecardbox .prop-line4,#scorecardbox .prop-line5{font-size:13px;}
																#scorecardbox .agent-l{font-size:12px;}
																#scorecardbox .agent-l a{color:#3f7536;text-decoration:underline;}
																
																#scorecardbox .agt-desc{float:left;text-align:left;border-right:1px dotted #7f7f7f;line-height:16px;padding:0;width: 50%;}
																	#scorecardbox .agt-line1{font-family: 'Montserrat', sans-serif;font-weight:bold;font-size:15px;padding:2px 0 12px 0;color:#464646;}
																		#scorecardbox .agt-line1 a{color:#000;text-decoration:none;font-weight:bold;}
																	#scorecardbox .agt-line2{width:90%;font-size:13px;color:#464646;padding:0 0 12px 0;}
																	#scorecardbox .agt-line3{font-size:13px;color:#464646;padding:0 0 12px 0;}
																	
																		.scorecard-footer{font-size:11px;color:#7c7c7c;padding:20px 0 10px 0;}
																			.scorecard-footer a{color:#7c7c7c;text-decoration:none;}
																				.left-f{text-align:left;width:50%;float:left;}
																				.right-f{text-align:right;float:left;width:50%;}
																				
												#scorecardbox .msgbtn{height:51px;background:url(img/sidebar-r-scorecard-bg.png) repeat-x;border:1px solid #b9b9b9;color:#3f7536;padding:0;text-align:left;width:90%;overflow:hidden;}
												#scorecardbox .msgicon{padding: 0 5px 0 5px;}
					
		
/* Global */
.paddingtoponly{padding:20px 0 0 0 !important;}
.blackthis{color:#000;}
.clearthis{clear:both;}
.owner-email{word-wrap:break-word;}
.no-margin{margin:0 0 0 0 !important;}
.no-padding{padding:0 0 0 0 !important;}
.alignright{text-align:right;}
.regularfont{font-weight:300 !important;}
.green{color:#3f7536;}
	.green a{color:#3f7536;}
.lightgrey,a.lightgrey{color:#7c7c7c !important}
	.lightgrey a{color:#7c7c7c !important;}
	
.small{color:#464646;font-weight:600;font-size:14px;font-family: 'Lato', sans-serif;}
.img-responsive,img.wp-post-image,img.attachment-page-thumb{margin:0;width:100%;}
.btn{
	border: 1px solid #c84606;
	padding: 4px 4px 4px 4px;
	text-align: center;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	-webkit-box-shadow: rgb(102, 102, 102) 0px 2px 3px;
	box-shadow: rgb(102, 102, 102) 0px 2px 3px;
	background:url(img/btn-bg.png);
	behavior: url(js/PIE.htc);
	position:relative;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	text-transform:uppercase;
	text-shadow: 1px 0px 0px #ccc;
	color:#fff;
}

	.btn a, .btn a:hover{color:#fff;text-decoration:none;}

.img-thumb{text-align:center;overflow:hidden;}
.noborders{border:0 !important;}
								
								
								/* scrollbar */
								.mCSB_container{margin:0 0 0 2px !important;}
								.mCSB_scrollTools .mCSB_draggerRail {
								width: 5px !important;
								height: 100%;
								margin: 0 auto;
								-webkit-border-radius: 0 !important;
								-moz-border-radius: 0 !important;
								border-radius:0 !important;
								
								}
									.mCS-dark>.mCSB_scrollTools .mCSB_draggerRail {
										background: #e8e8e8 !important;
										
									}
									
									.mCSB_scrollTools .mCSB_dragger{height:186px !important;}			
									.mCSB_scrollTools .mCSB_draggerContainer{left:10px !important;}



#uwpqsf_id { border: none;}
.uwpqsf_class { margin: 0px; margin-top: 7px;}
.uwpqsf_class label, .uwpqsf_class span { display: none;}
.uwpqsf_submit, .uwpqsf_class select { display: none;}

#search-results-box { overflow: auto;}
.acf-map {
    width: 100%;
    height: 400px;
    border: #ccc solid 1px;
    margin: 20px 0;
}
.acf-map img{max-width:none!important;box-shadow:none!important}




.tab-content .scorecard{height:50px;background:url(img/sidebar-r-scorecard-bg.png) repeat-x;border:1px solid #b9b9b9;color:#3f7536;padding:0;text-align:center;width:65%;margin:10px auto;}
.tab-content .scorecard-content{background:url(img/star-bg-scorecard.png) no-repeat;margin:0 auto;height:50px;padding: 16px 0 0;display: block;}
.tab-content .scorecard-content a,#sidebar-r .scorecard-content a:hover{color:#3f7536;text-decoration:none;}
.tab-content .scorecard-content a,#sidebar-r .scorecard-content a:hover{display:block;color:#3f7536;text-decoration:none;height: 50px;}



.wpfp-img {
	border: 0;
	vertical-align: middle;
	margin-left: 13px;
	float: left;
}
#sidebar-r .scorecard-content a { font-size: 13px;}


									
/* custom select */
span.customSelect {
	font-size:12px;
	background-color: #e0e0e0;
	color:#626262;
	padding:5px 7px;
}

.customSelect.changed {
	font-size:12px;
	background-color: #e0e0e0;
	color:#626262;
	padding:5px 7px;
}

.customSelectFocus {
	font-size:12px;
	background-color: #fff;
	color:#626262;
	padding:5px 7px;
}

.customSelectOpen {
	font-size:12px;
	background-color: #e0e0e0;
	color:#626262;
	padding:5px 7px;
}


.customSelectInner {
	background:url(img/sortby-bg.png)no-repeat center right;
}

/* GALLERY */
#wpsimplegallery_container ul{
	margin: 0;
	padding: 0;
}
#wpsimplegallery_container ul li{
	list-style-type: none;
	display: inline-block;
	width: 20%;
	height: auto;
	max-height: 80px;
	position: relative;
}
#wpsimplegallery_container ul li img{
	width: 100%;
	max-height: 80px;
	height: auto;
}
#gallerymainimg img{
	width: 100%;
	max-width: 100%;
	height: auto;
	max-height: 300px;
	text-align: center;
}

/*navigation search tabs */
.nav-tabs{
	border: none;
	padding:0;
	margin:0;
}
.nav-tabs li, .nav-tabs li.active a{
	padding-top: 0px !important;
}
.nav-tabs li.active a{
	background: url('img/arrow.png') center bottom no-repeat !important;
}
.nav-tabs li a:hover,.nav-tabs li:hover, .nav-tabs li.active:hover, .nav-tabs li.active a:hover, .nav-tabs li.active, .nav-tabs li.active a{
	background: transparent;
	border: 0px;
}
.nav-tabs li.active a,#page-links ul li:first-child a {
	border: none;
}
.nav-tabs > li > a{
	border: none;
}
#page-links ul li a, #page-links ul li a:hover{
padding: 20px 15px 10px 15px !important;
}
#page-links ul li:first-child a {
padding: 20px 15px 10px 0px !important;
}

/* blog pages */
.img_wrap{
	margin-top: 15px;
}
.newscontent{
	border-bottom:1px solid #bcbcbc;
}
.newspagination{
	margin-top: 20px;
	text-align: right;
}
.newspagination .page-numbers{
	padding: 4px;
}
.newspagination .page-numbers:hover{
	border-bottom: 1px solid #3f7536;
}
.blogsingle .mid-col{
	min-height: 200px;
}
.blogsingle .post-title{
	color: #3f7536;
}

.cdsel p label, .cdsel p{
    margin: 0;
}
.gdtb .left-col {
	width: 45% !important;
}
.gdtb .right-col{
	width: 45% !important;
	text-align: right !important;
	padding: 0 !important;
	border-left: 0px !important;
}
.gdtb input[type="text"]{
	width: 100%;
	line-height: 28px;
}
.gdtb input[type="submit"]{
	margin-top: 5px !important;
}
#cdstate, #cdcity, #cdptype, #cdboxes{
	display: none;
}

/* search page */

.searchtemplate .mid-col{
	min-height: 500px !important;
	border-left: none !important;
	border-right: none !important;
}
.gdtb .s-des.fleft{
	float: left !important;
	margin: 0 !important;
}
#cnamec input[type="text"]{
	line-height: 28px;
}
#cnamec textarea{
	margin-bottom: 10px;
	margin-top: 3px;
}

#dsstatec, #dscityc, #dsboxesc{
	display: none;
}

#gstatec, #gcityc, #gcommunityc,#gboxesc{
	display: none;
}

#astatec, #acityc,#acommunityc, #aboxesc{
	display: none;
}
#cnamec{
	display: none;
}

/* CYCLONE SLIDER */
.cycloneslider{margin-bottom: 0px;}
.cycloneslider-template-standard .cycloneslider-caption{left: 20%; width: 60%;}
.cycloneslider-template-standard .cycloneslider-caption-title{font-size:12px;}
.cycloneslider-template-standard .cycloneslider-caption-description{padding: 0 20px 5px 20px;}


#viewCommunityAgentModal #experts-box { max-height: 300px; overflow: auto;}
#viewDestinationAgentModal #experts-box { max-height: 300px; overflow: auto;}




#mid-col-main .featured-content { height: 208px; overflow: hidden; margin-top: 3px;}
#mid-col-main .featured-content .s-property-img-big, 
#mid-col-main .featured-content .s-property-map .acf-map { height: 100%; margin: 0px; } 
#mid-col-main .featured-content .s-property-map { height: 100%; }


#top-section .banner { background: #0C2E06;}
video { max-width: 100%;max-height: 70%;margin: 0 auto;display: block;width: 100%;}


.center { text-align: center;}


.box{
	position: relative;
	width: 100%;		/* desired width */
}
.box:before{
	content: "";
	display: block;
	padding-top: 100%; 	/* initial ratio of 1:1*/
}

.box .content{
	position:  absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.box img { }
/* Other ratios */
.ratio2_1:before{
	padding-top: 50%;
}
.ratio1_2:before{
	padding-top: 200%;
}
.ratio4_3:before{
	padding-top: 75%;
}
.ratio16_9:before{
	padding-top: 56.25%;
}



.comdest-search-thumb {  
	position: relative;
	height: 122px;
	padding: 122px 0 0 0;
	background: #333;
	width: 100%;
	max-width: 187px;
	margin: 0 auto;
}
.comdest-search-thumb img {
	position: absolute;
	display: block;
	max-width: 100%;
	max-height: 100%;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto !important;
	width: auto !important;
}


.comdest-large-photo {  
	position: relative;
	height: 303px;
	padding: 303px 0 0 0;
	background: #333;
	width: 100%;
	max-width: 465px;
	margin: 0 auto;
}
.comdest-large-photo img {
	position: absolute;
	display: block;
	max-width: 100%;
	max-height: 100%;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto !important;
	width: auto !important;
	box-shadow: none !important;
}

.picnt {  
	position: relative;
	height: 350px;
	padding: 350px 0 0 0;
	background: #333;
	width: 100%;
	max-width: 455px;
	margin: 0 auto;
}
.picnt img {
	position: absolute;
	display: block;
	max-width: 100%;
	max-height: 100% !important;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto !important;
	width: auto !important;
	box-shadow: none !important;
}

#wpsimplegallery_container { max-width: 455px; margin: 0 auto;}

#wpsimplegallery li {  
	position: relative;
	height: 68px;
	padding: 68px 0 0 0;
	background: #333;
	width: 100%;
	max-width: 91px;
	margin: 0 auto;
}
#wpsimplegallery li img { 
	position: absolute;
	display: block; 
	max-width: 100%;
	max-height: 100%;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto !important;
	width: auto !important;
	box-shadow: none !important;
}


.property-search-thumb {  
	position: relative;
	height: 75px;
	padding: 75px 0 0 0;
	background: #333;
	width: 100%;
	max-width: 100px;
	float: left;

}
.property-search-thumb img { 
	position: absolute;
	display: block; 
	max-width: 100%;
	max-height: 100%;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto !important;
	width: auto !important;
	box-shadow: none !important;
}

.center { text-align: center;}








